<div id="box">
    <div id="questionsId" ng-show="showQuestions">
        <p>Question: {{newQuestion}}</p>
        <span ng-repeat="choice in options">
            <input type="radio" name="response" ng-click="selectedResponse(choice.reward)"/>
            {{choice.option}} </br>
        </span>
    </div>
    <div id="resultsId" ng-hide="showQuestions">
        <p>{{resultData}}</p>
    </div>
</div>
<input type="button" class="btn" name="btnNext" value="Next" ng-click="nextQuestion()" ng-show="showQuestions">