
#box{
    width: auto;
    padding: 30px;
    border: solid darkred 2px;
    background-color: darkorange;
}

.option_font{
    font-family: 'Elephant';
    font-size: 18px;
}

@font-face {
    font-family: Toxia;
    src: url(../fonts/Toxia_FRE.ttf) format('truetype');
}

#common_button {
    color: whitesmoke;
    position: relative;
    margin: auto;
    padding: 12px;
    text-align: left;
}

#next_button {
    font-family: "Toxia",fantasy;
}

#reset_button {
    font-family: fantasy;
}
